
.cards__wrap {
    max-width: 1092px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.cards__card {
    max-width: 302px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 21px 25px;
    gap: 15px;
    background: var(--grey);
    border: 1px solid var(--blue);
    border-radius: var(--radius);
}

.cards__card-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}

.cards__card-title {
    max-width: 80%;
    width: 100%;
    overflow: hidden;
    color: var(--black);
    font-family: var(--GS);
    font-size: 18px;
    font-weight: 600;
    line-height: 22.05px;
}

.cards__card-del {
    cursor: pointer;
    opacity: .6;
    transition: .3s;
}

.cards__card-del:hover {
    opacity: 1;
}

.cards__card-time {
    font-family: var(--GM);
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 16.98px;
    color: var(--black-opc55);
}